<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>monitor</title>
</head>
<body>
<!--<embed src="http://172.20.10.3:8090" allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>-->
<!--<embed src="http://172.20.10.3:8090" allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='mp4'></embed>-->
<video>
    <source src="http://172.20.10.3:8090" type="application/x-mpegURL">
</video>
<!--<div></div>>-->
<!--<span></span>-->
</body>
</html>