<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>monitor</title>
</head>
<body>
<!--<embed src="http://172.20.10.3:8090" allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>-->
<!--<embed src="http://172.20.10.3:8090" allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='mp4'></embed>-->
<video>
<!--    <source src="http://172.20.10.3:8090" type="video/ogg" width="600" height="450" autoplay="autoplay" controls="controls" loop="loop">-->
    <source src="http://172.20.10.3:8090" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' width="600" height="450" autoplay="autoplay" controls="controls">

    Your browser does not support the video tag.
</video>
<!--<div></div>>-->
<!--<span></span>-->
</body>
</html>
。